<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body>
<div class="layui-form" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">车牌号</label>
        <div class="layui-input-inline">
            <input type="text" name="carNumber" th:value="${editInfo.carNumber}" placeholder="请输入车牌号" autocomplete="off"
                   class="layui-input layui-disabled">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">座位数</label>
        <div class="layui-input-inline">
            <input type="text" name="capacity" th:value="${editInfo.capacity}" lay-verify="required"
                   placeholder="请输入座位数" autocomplete="off" class="layui-input layui-disabled">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">司机</label>
        <div class="layui-input-block">
            <select name="driverUid" id="driverUid" lay-verify="required" lay-filter="xmFilter" autocomplete="off" class="layui-input layui-disabled">
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">起始地址</label>
        <div class="layui-input-inline">
            <input type="text" name="startAddress" th:value="${editInfo.startAddress}" lay-verify="required"
                   placeholder="请输入起始地址" autocomplete="off" class="layui-input layui-disabled">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">目的地址</label>
        <div class="layui-input-inline">
            <input type="text" name="endAddress" th:value="${editInfo.endAddress}" lay-verify="required"
                   placeholder="请输入目的地址" autocomplete="off" class="layui-input layui-disabled">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">预约乘车日期</label>
        <div class="layui-input-inline">
            <input type="text" name="appointmentDate" id="appointmentDate" th:value="${editInfo.appointmentDate}" lay-verify="required"
                   placeholder="请输入预约乘车日期" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">计划发车时间</label>
        <div class="layui-input-inline">
            <input type="text" id="planDepartTime" name="planDepartTime" th:value="${editInfo.planDepartTime}" lay-verify="required"
                   placeholder="请输入计划发车时间" autocomplete="off" class="layui-input layui-disabled">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit="" lay-filter="kFormSubmit" id="kFormSubmit">
        <input type="text" name="id" th:value="${editInfo.id}" autocomplete="off" class="layui-input">
        <input type="text" name="routeId" th:value="${editInfo.routeId}" autocomplete="off" class="layui-input">
    </div>
</div>

<script th:replace="common/base::context"></script>
<script th:replace="common/base::mainjs"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var $ = layui.$, form = layui.form, laydate = layui.laydate;

        $("#driverUid").attr("disabled","disabled");
        form.render('select');

        laydate.render({
            elem: '#appointmentDate' // 指定元素
        });

        // 司机下拉列表
        $.ajax({
            url: api.sys.userListData,
            dataType: 'json',
            type: req.type.get,
            success: function (data) {
                console.log(data);//下面会提到这个data是什么值
                //使用循环遍历，给下拉列表赋值
                $.each(data.data, function (index, value) {
                    $('#driverUid').append(new Option(value.realname,value.id, false, $('#driverUid').val() == value.id));// 下拉菜单里添加元素
                });
                layui.form.render();//重新渲染 固定写法
            }
        })

        //监听提交
        form.on('submit(kFormSubmit)', function (data) {
            var field = data.field; //获取提交的字段
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

            var url = field.id ? 'bus/routeAppointment/edit' : 'bus/routeAppointment/add';
            //提交 Ajax 成功后，关闭当前弹层并重载表格
            $.ajax({
                type: req.type.post,
                url: BASE_WEB + url,
                data: field,
                async: false,
                success: function (r) {
                    if (r.code === req.status.ok) {
                        // 重载表格
                        parent.layui.table.reload('kContentTable');
                        parent.layer.close(index); //再执行关闭
                    } else {
                        kvfKit.errorMsg(r.msg);
                    }
                }
            });

        });
    })
</script>
</body>
</html>