<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laborer.bus.modules.bus.mapper.RouteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.laborer.bus.modules.bus.entity.Route">
        <id column="id" property="id" />
        <result column="car_number" property="carNumber" />
        <result column="car_type" property="carType" />
        <result column="capacity" property="capacity" />
        <result column="driver_uid" property="driverUid" />
        <result column="start_address" property="startAddress" />
        <result column="end_address" property="endAddress" />
        <result column="plan_depart_time" property="planDepartTime" />
        <result column="state" property="state" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       id, car_number, car_type, capacity, driver_uid, start_address, end_address, plan_depart_time, state, create_by, create_date, update_by, update_date
    </sql>

    <select id="selectRouteList" resultType="com.laborer.bus.modules.bus.entity.Route">
        select <include refid="Base_Column_List" /> from bus_route
        <trim prefix="where" prefixOverrides="and">
            <if test="route.carNumber != null and route.carNumber != ''">
                and car_number like concat("%",#{route.carNumber}, "%")
            </if>
            <if test="route.carType != null">
                and car_type = #{route.carType}
            </if>
            <if test="route.capacity != null">
                and capacity = #{route.capacity}
            </if>
            <if test="route.driverUid != null ">
                and driver_uid = #{route.driverUid}
            </if>
            <if test="route.startAddress != null and route.startAddress != ''">
                and start_address like concat("%", #{route.startAddress}, "%")
            </if>
            <if test="route.endAddress != null and route.endAddress != ''">
                and end_address like concat("%", #{route.endAddress}, "%")
            </if>
            <if test="route.planDepartTime != null and route.planDepartTime != ''">
                and plan_depart_time like concat(#{route.planDepartTime}, "%")
            </if>
            <if test="route.state != null">
                and state = #{route.state}
            </if>
            <if test="route.createBy != null">
                and create_by = #{route.createBy}
            </if>
            <if test="route.createDate != null">
                and create_date = #{route.createDate}
            </if>
            <if test="route.updateBy != null">
                and update_by = #{route.updateBy}
            </if>
            <if test="route.updateDate != null">
                and update_date = #{route.updateDate}
            </if>
        </trim>
    </select>

    <select id="reservable" resultType="com.laborer.bus.modules.bus.entity.Route">
        select id, car_number, car_type, capacity, driver_uid, start_address, end_address, plan_depart_time, state from bus_route br
        <trim prefix="where" prefixOverrides="and">
            <if test="route.carNumber != null and route.carNumber != ''">
                and car_number like concat("%",#{route.carNumber}, "%")
            </if>
            <if test="route.carType != null">
                and car_type = #{route.carType}
            </if>
            <if test="route.dateType == '0'.toString">
                and plan_depart_time >= #{route.planDepartTime}
            </if>
            <if test="route.driverUid != null ">
                and driver_uid = #{route.driverUid}
            </if>
            <if test="route.startAddress != null and route.startAddress != ''">
                and start_address like concat("%", #{route.startAddress}, "%")
            </if>
            <if test="route.endAddress != null and route.endAddress != ''">
                and end_address like concat("%", #{route.endAddress}, "%")
            </if>
            and not exists (select id from bus_route_appointment bra <!--未预约相同日期和班次的-->
            where bra.appointment_uid = #{route.appointmentUid}
            and bra.route_id = br.id
            and bra.appointment_date = date_format(#{route.appointmentDate}, '%Y-%m-%d')
            and bra.state = 0
            )
            and not exists (select id from bus_route_depart brd <!--未发车的-->
            where brd.route_id = br.id
            and brd.state = 1
            and date_format(brd.depart_time, '%Y-%m-%d') = date_format(#{route.appointmentDate}, '%Y-%m-%d')
            )
        </trim>
    </select>

</mapper>
